@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root{
  --primary: #685752;
  --secondary: #997C70;
  --background: #FDF7F4;
  --font-nunito: "Nunito", sans-serif;
  --font-comfortaa: "Comfortaa", sans-serif;

  --color1: #dccdc5;
  --color2: #bda7a0;
  --color3: #8a7872;
  --color4: #715e58;
}

body {
  background-color: var(--background);
  margin-top: 0;
  padding-top: 0;
  background-image:url("/background.png");
  background-size: 400px 400px;
  background-repeat: repeat;
}

a{
  color: var(--primary)
}

.hcLogo{
  position: absolute;
  top:0;
  left:1rem;
  width: 12%;
}

