.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}

.header h1{
    font-family: var(--font-nunito);
    font-weight: bolder;
    font-size: 5.5rem;
    color: var(--primary);
    margin-top:0;
    margin-bottom: 2rem;
}
.header h2{
    font-family: var(--font-comfortaa);
    color: var(--secondary);
    font-weight: 700;
    font-size: 2.2rem;
    margin-top: 0;
    margin-bottom: .4rem;
}

.headingContainer{
    position: relative;
}

@keyframes rotation{
    0%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(20deg);
    }
}

.woodenSword{
    position: absolute;
    top:-20%;
    left: -18%;
    width: 22vh;
    animation: rotation .5s infinite alternate;
}

.buttonContainer{
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    align-items:center;
    gap: 2rem;
    width: 100%;
}

.buttonContainer button{
    all:unset;
    font-family: var(--font-nunito);
    cursor: pointer;
    background-color: var(--secondary);
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: #6966649d 0px 13px 27px -5px, #4d4a497d 0px 8px 16px -8px;
    color: #FDF7F4
}